[build]
command = "hugo"
publish = "public"
[build.environment]
HUGO_VERSION = "0.92.2"

[context]
[context.branch-deploy]
command = "hugo -F -b $DEPLOY_PRIME_URL"


# netlify.toml
# source: https://www.garrickadenbuie.com/blog/blogdown-netlify-new-post-workflow/#netlify-toml

[context.deploy-preview]
command = "hugo -F -b $DEPLOY_PRIME_URL"
[context.production]
[context.production.environment]
HUGO_ENV = "production"
